*{
    margin: 0;
}

.wrapper{
    max-width: 1200px;
    margin-left: auto ;
    margin-right: auto;
}

body{
    min-height: 100vh;
}

.product__list{
    
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 30px;
    padding-block: 25px;
    align-content: center;
    align-items: center;
}
.product__container{
    border: 0.5px solid rgb(133, 133, 133);
    padding-block: 10px;
    border-radius: 15px;
    box-shadow: -3px 1px 70px #e4e4e4;
}
.product__card{
    display: flex;
    flex-direction: column;
    width: 200px;
    padding: 10px;
    box-sizing: border-box;
    height: 300px;
    gap: 10px;
    align-content: center;
    gap: 15px;
    align-items: center;
    border: 1px solid grey;
    border-radius: 10px;
    
}
.product__card__title{
    font-size: 20px;
}
.paged__overlay{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(238, 238, 238, 0.507);
    height: 100%;
}
.loading{
    
    width: 40px;
    height: 40px;
    border-bottom:2px solid grey;
    border-right: 2px solid grey;
    border-radius: 100%;
    
}
.hidden{
    display: none;
}
.absolute{
    position: absolute;
}
.inset-0{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.buttons{
    padding-top: 15px;
    padding-inline: 12px;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.buttons button{
    font-weight: 900;
    font-size: 20px;
    padding: 5px 12px;
}
.product__btn{
    padding: 7px 10px;
    border-radius: 10px;
    background-color: rgb(0, 180, 0);
    text-decoration: none;
    color: white;
    font-size: 12px;
}


.paged__content{
    padding-block: 30px;
}
.buttons button{
    
    border: 2.5px solid rgb(0, 68, 255);;
    cursor: pointer;
    border-radius: 5px;
    transition: 150ms linear;
}
.buttons button:hover{
    background-color: white;
    color: rgb(0, 68, 255);
}
.exclude__btn{
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid red;
    background-color: rgb(180, 0, 0);
    text-decoration: none;
    color: white;
}
.text-center{
    text-align: center;
}

.detailed__product__card{
    width: 100%;
    height: 400px;
    display: grid; ;
    color: black;
    grid-template-columns: 1fr 1fr;
    border: 0.7px solid grey;
    border-radius: 12px;
    padding: 10px;
    box-sizing: border-box;
}
.detailed__content{
    padding-block: 50px;
}

.detailed__product__card__left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailed__product__card__right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 70px;
}
.detailed__product__card__right__btns{
    display: flex;
    gap: 30px;
    flex-direction: column;
}
.detailed__product__card__right__btns button{
    width: 200px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px 5px;
}

.btn__green{
    background-color: rgb(0, 180, 0);
    
    color: white;
}
.btn__blue{
    background-color: rgb(0, 68, 255);
    color: white;
}

.newproduct__content{
    padding-block: 100px ;
    display: flex;
    justify-content: center;
}
#newproduct__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#newproduct__form button{
    
}
#newproduct__form input{
    border-radius: 6px;
    outline: none;
    border: 1px solid grey;
    padding: 4px 5px;
    box-sizing: border-box;
}

.border-1{
    border: 1px solid transparent;
}
.radius-5{
    border-radius: 5px;
}

.btn-lg-p{
    padding: 6px 5px;
}
.active__btn{
    background-color: white;
    color: rgb(0, 68, 255);
}
.unactive__btn{
    background-color: rgb(0, 68, 255);
    color: aliceblue;
}
.pt-2{
    padding-top: 10px;
}
.img__space {
    width: 100%;
    height: 140px;

    overflow: hidden;  
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: 1px solid rgb(189, 189, 189);
}

.img__space img {
    object-fit: cover;  
    width: 100%;
   height: 100%;
}
