{% extends 'base.html' %}
{% block content %}

<div class="wrapper">
    <div class="paged__content"> 
        <div class="product__container">
            <div class="product__list">
            {% for product in products %}
    
                <div class="product__card">
                    <img src="{{product.img_url}}" alt="">
                    <h1 class="product__card__title">{{ product.name }}</h1>
                    <p>R$ {{ product.price }}</p>
                    <a href="seedetail/{{ product.id }}" class="product__btn">Ver detalhes</a>
                    <button id="product-{{ product.id }}" class="exclude__btn">Excluir</button>

                </div>
    
            {% endfor %}
            </div>
            <form class="buttons">
                <div class="prev">
                    <button name="page" value="{{page-1}}" {% if (page == 1 ) %} disabled {% endif %}><</a>
                </div>
                <div class="next">
                    <button name="page" value="{{page+1}}" {% if (page == total_page ) %} disabled {% endif %}>></a>
                </div>  
            </form>
            
        </div>
        <div class="newproduct__content">
        <form enctype="multipart/form-data" method="post" id="newproduct__form" action="/api/newproduct">
            <input type="text" name="name" id="name" class="newproduct__input">
            <input type="text" name="price" id="price" class="newproduct__input">
            <input type="file" name="img" id="img" class="newproduct__input">
            <button class="btn__blue border-1 radius-5 btn-lg-p">Novo Produto</button>

        </form>
        </div>

    </div>



</div>
<script src="{{ url_for('static',filename='admin.js') }}"></script>

{% endblock %}